<%- include('partials/header'); %>
<header>
  <a href="/story" id="start-story">Start a story</a>
</header>
<section class="category">
  <h2 class="category__title">Open Stories</h2>
  <ul class="category__list">
    <% stories.forEach(function(story) { %>
        <li class="category__item">
          <div class="story-preview">
            <h3 class="story-preview__title"><%= story.title %>...</h3>
            <footer class="story-preview__footer story-data">
              <ul class="story-data__list">
                <li class="story-data__item">
                  <bold class="story-data__type">Active Authors:</bold>
                  <%= story.authors.length %>
                </li>
                <li class="story-data__item">
                  <bold class="story-data__type">Date Created:</bold>
                  <%= story.timestamp %>
                </li>
              </ul>
            </footer>
          </div>
        </li>
    <% }); %>
  </ul>
</section>
<%- include('partials/footer'); %>
